<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Gtstudio_AiConnector::gtstudio">
                    <resource id="Gtstudio_AiAgents::management">
                        <resource id="Gtstudio_AiKnowledgeBase::management" title="Knowledge Base" sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
