<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ai_knowledge_base" frontName="ai_knowledge_base">
            <module name="Gtstudio_AiKnowledgeBase"/>
        </route>
    </router>
</config>
